<%= form_with(model: ingredient_recipe) do |form| %>
  <% if ingredient_recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient_recipe.errors.count, "error") %> prohibited this ingredient_recipe from being saved:</h2>

      <ul>
        <% ingredient_recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ingredient_id, style: "display: block" %>
    <%= form.text_field :ingredient_id %>
  </div>

  <div>
    <%= form.label :recipe_id, style: "display: block" %>
    <%= form.text_field :recipe_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
