<li id="<%= dom_id ingredient_recipe %>" class="list-group-item d-flex justify-content-between">
  <div>
    <h5 class="d-block fw-normal text-body-secondary">
      <%= link_to ingredient_recipe.display_ingredient&.name || '[No name]', ingredient_recipe, class: 'text-primary-emphasis' %>
    </h5>
    <div>
      <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill">
        <%= ingredient_recipe.display_amount %>
      </span>
      <small class=""><%= ingredient_recipe.unit %></small>
    </div>
  </div>
  <div class='d-flex flex-column'>
    <%= link_to edit_ingredient_recipe_path(ingredient_recipe), class: 'text-secondary' do %>
      <i class="bi bi-pencil-square"></i>
    <% end %>
    <%= link_to ingredient_recipe, class: 'text-danger', data: confirm_delete_attributes(ingredient_recipe) do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</li>
