<p style="color: green"><%= notice %></p>

<%= render @ingredient_recipe %>

<div>
  <%= link_to "Edit this ingredient recipe", edit_ingredient_recipe_path(@ingredient_recipe) %> |
  <%= link_to "Back to ingredient recipes", ingredient_recipes_path %>

  <%= button_to "Destroy this ingredient recipe", @ingredient_recipe, method: :delete %>
</div>
