<% url = create_ingredient_recipe_path(@recipe, ingredient_recipes_page: request.query_parameters["ingredient_recipes_page"]) %>
<%= form_with(model: ingredient_recipe, url: url) do |form| %>
  <% if ingredient_recipe.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(ingredient_recipe.errors.count, "error") %> prohibited this ingredient recipe from being saved:</h5>
      <ul class='mb-0'>
        <% ingredient_recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <% error_ingredient = ingredient_recipe.errors[:ingredient].any? || ingredient_recipe.errors[:ingredient_id].any? %>
    <%= form.label :ingredient_id, class: "form-label" %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :name,
      { prompt: "Select an ingredient" }, class: "form-select#{" is-invalid" if error_ingredient}" %>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <div class="mb-3">
        <%= form.label :amount, class: "form-label" %>
        <%= form.number_field :amount, step: 0.1,
          class: "form-control#{" is-invalid" if ingredient_recipe.errors[:amount].any?}" %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="mb-3">
        <%= form.label :unit, class: "form-label" %>
        <%= form.text_field :unit, class: "form-control#{" is-invalid" if ingredient_recipe.errors[:unit].any?}" %>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
