<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= recipe.summary %>
  </p>

  <p>
    <strong>Cuisine type:</strong>
    <%= recipe.cuisine_type %>
  </p>

  <p>
    <strong>Is vegetarian:</strong>
    <%= recipe.is_vegetarian %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= recipe.calories %>
  </p>

  <p>
    <strong>Prepare duration:</strong>
    <%= recipe.prepare_duration %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category_id %>
  </p>

</div>
