<%= form_with(model: tag, class: 'mt-4') do |form| %>
  <% if tag.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h5>
      <ul class='mb-0'>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control#{" is-invalid" if tag.errors[:name].any?}" %>
  </div>

  <div class="mb-3">
    <%= form.label :tag_type, 'Use this tag for', class: "form-label" %>
    <%= form.select :tag_type, tag_type_options, {}, class: "form-select" %>
  </div>

  <div class="mt-5 mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
