<p style="color: green"><%= notice %></p>

<% content_for :title, "Tags" %>

<div class='mb-5'>
  <div class='d-flex justify-content-between align-items-center'>
    <h1>Tags</h1>
    <%= link_to "New tag", new_tag_path, class: 'btn btn-primary' %>
  </div>
  <div class='clearfix'></div>
</div>

<h2 class='border-bottom'>Recipe tags</h2>
<div id="tags-recipes" class='row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 my-3 g-3'>
  <% @tags.select(&:recipe?).each do |tag| %>
    <%= render tag %>
  <% end %>
</div>

<hr class='my-5' />

<h2 class='border-bottom'>Ingredient tags</h2>
<div id="tags-ingredients" class='row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 my-3 g-3'>
  <% @tags.select(&:ingredient?).each do |tag| %>
    <%= render tag %>
  <% end %>
</div>

<%= link_to "New tag", new_tag_path %>
