<%= form_with(model: step, class: 'mt-4') do |form| %>
  <% if step.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h5>
      <ul class='mb-0'>
        <% step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-md-6'>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control#{" is-invalid" if step.errors[:name].any?}" %>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="mb-3">
        <%= form.label :step_number, class: "form-label" %>
        <%= form.number_field :step_number, class: "form-control#{" is-invalid" if step.errors[:step_number].any?}" %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control#{" is-invalid" if step.errors[:description].any?}" %>
  </div>

  <div class="mb-3">
    <%= form.label :recipe_id, class: "form-label" %>
    <%= form.collection_select :recipe_id, Recipe.all, :id, :name, { prompt: "Select a recipe" },
      class: "form-select#{" is-invalid" if step.errors[:recipe].any?}" %>
  </div>

  <div class="mt-5 mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
