<div id="<%= dom_id recipe %>" class='col'>
  <div class="card <%= recipe.steps.any? ? 'border-success' : 'border-warning' %>">
    <div class="card-header d-flex justify-content-between align-items-center">
      <%= link_to recipe.name, recipe, class: 'text-primary-emphasis fw-bold' %>
      <%= link_to add_step_recipe_path(recipe, steps_page: true),
        data: { turbo_frame: 'modal_frame', modal_title: 'Add step' },
        class: 'btn btn-warning btn-sm', title: 'Add step' do %>
        <i class="bi bi-plus"></i>
      <% end %>
    </div>

    <div class="card-body">
      <p class="card-text"><%= recipe.summary %></p>
    </div>

    <div id='recipe-<%= recipe.id %>-steps' class="list-group list-group-flush">
      <%= render 'steps/step_list', steps: recipe.steps %>
    </div>

    <div class="card-footer">
      <%= link_to add_step_recipe_path(recipe, step_recipes_page: true),
        data: { turbo_frame: 'modal_frame', modal_title: 'Add step' },
        class: 'btn btn-warning btn-sm' do %>
        <i class="bi bi-plus"></i> Add step
      <% end %>
    </div>
  </div>
</div>
