<div id="<%= dom_id step %>">
  <p>
    <strong>Name:</strong>
    <%= step.name %>
  </p>

  <p>
    <strong>Step number:</strong>
    <%= step.step_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= step.description %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= step.recipe_id %>
  </p>

</div>
