<%= form_with(model: category, class: 'mt-4') do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h5>
      <ul class='mb-0'>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control#{" is-invalid" if category.errors[:name].any?}" %>
  </div>

  <div class="mb-3">
    <%= form.label :summary, class: "form-label" %>
    <%= form.text_area :summary, class: "form-control#{" is-invalid" if category.errors[:summary].any?}" %>
  </div>

  <div class="mt-5 mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
